.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/tasks.json
.vscode/launch.json
*.zip

.eslintconfig
.eslintignore
.eslintrc.js
.postcssrc.js
.editorconfig
.babelrc
Vuemusic.js
package-lock.json